/*
 * ========================================================
 * ================= TABLE OF CONTENTS ====================
 * ========================================================
 * 1.  VARIABLES
 * 1.1 Media querries
 * 1.2 General styles
 * 1.3 Main structure
 * 1.4 Site title div
 * 1.5 Menu
 * 1.6 Collections
 * 2.  DEFAULT VALUES/RESET
 * 3.  MAIN STRUCTURE
 * 4.  GENERAL STYLES
 * 5.  SITE TITLE DIV
 * 6.  MENU
 * 7.  CONTROLS AND NOTIFICATIONS
 * 8.  COLLECTIONS
 * 8.1 General
 * 8.2 Pictures
 * 8.3 Polaroid gallery view
 * 8.4 Stacked gallery view
 * 8.5 Details view
 * 8.6 Fullscreen view
 * 9.  PAGE-SPECIFIC
 * 9.1 Homepage
 */



/*
 * ========================================================
 * ============= 1.  VARIABLES ============================
 * ========================================================
 */
 /*
  * ------------ 1.1 Media querries -----------------------
  */
:root {
  --side-panel-width: 100%;
  --side-panel-max-width: calc( 50 * var(--size-1));
  --site-footer-height: calc(var(--button-size) + 4 * var(--button-margin));
  --site-footer-padding: var(--button-margin);
  --menu-item-offset: 0px;
}

@media (min-width: 601px) {
  :root {
    --side-panel-width: var(--side-panel-max-width);
  }
}

@media (max-height: 500px) {
  :root {
    --site-footer-height: 0px;
    --site-footer-padding: 0px;
    --menu-item-offset:calc(var(--button-size) + 4 * var(--button-margin));
  }
}

/*
 * ------------- 1.2 General styles -----------------------
 */
:root {
  --size-1:                             6px;
  --border-width:                       1px;

  --font-size-default:           calc(  4   * var(--size-1));
  --font-size-small:             calc(  0.5 * var(--font-size-default));
  --font-size-medium:            calc(  1.5 * var(--font-size-default));
  --font-size-big:               calc(  2.0 * var(--font-size-default));

  --button-size:                 calc(  6 * var(--size-1));
  --button-margin:               calc(  2 * var(--size-1));

  --tr-height:                   calc( 10 * var(--size-1));

/*
 * ------------- 1.4 Site title div -----------------------
 */
  --site-title-height:           calc( 24 * var(--size-1));

/*
 * ------------- 1.5 Menu ---------------------------------
 */
  --menu-label-margin-left:      calc(  2 * var(--size-1));
  --menu-item-highlight:         calc(  4 * var(--size-1));

  /*
   * Defalut value, to be overriden in js if needed.
   */
  --level:                              0;

/*
 * ------------- 1.6 Collections --------------------------
 */
  --polaroid-frame-margin:       calc(  6 * var(--size-1));
  --polaroid-item-padding:       calc(  2 * var(--size-1));
  --gallery-image-size:          calc( 34 * var(--size-1));
}



/*
 * ========================================================
 * ============= 2.  DEFAULT VALUES/RESET =================
 * ========================================================
 */
* {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-default);
}

html {
  height: 100%;
}



/*
 * ========================================================
 * ============= 3.  MAIN STRUCTURE =======================
 * ========================================================
 */
body {
  display: flex;
  flex-flow: column nowrap;

  height: 100%;

  /*
   * Prevents "scrollbar flicker" when reducing menu.
   * Do not hide overflow-y or scroll will be disabled on
   * mobile.
   */
  overflow-x: hidden;
}



/*
 * 3.1 body
 */
#top {
  height: calc(100% - var(--site-footer-height) - 2 * var(--site-footer-padding));

  display: flex;
  flex-flow: row nowrap;
}

body > footer {
  flex: 0 0 var(--site-footer-height);
  padding: var(--site-footer-padding);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}



/*
 * 3.1.1 body #top
 */
#top aside {
  flex: 0 0 calc(var(--side-panel-width));
  border-right-width: var(--border-width);
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
}

#top aside.clicked {
  flex-basis: 0;
  border-right-width: 0;
}

@media (max-width: 600px) {
  #top aside {
    flex-basis: 0;
    border-right-width: 0;
  }

  #top aside.clicked {
    flex-basis: calc(var(--side-panel-width));
  }

  #top aside.clicked + #main-panel {
    flex-basis: 0;
    overflow: hidden;
  }
}

#main-panel {
  flex: 1 0 auto;
  width: calc(100% - var(--side-panel-width) - var(--border-width));

  display: flex;
  flex-flow: column nowrap;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/*
 * 3.1.1.1 body #top aside
 */
@media (max-height: 400px) {
  #site-title {
    display: none;
  }
}

#site-title-frame {
  flex: 0 0 auto;
  height: var(--site-title-height);
}

#top aside nav {
  overflow-y: auto;
}



/*
 * 3.1.1.2 body #top #main-panel
 */
#collection {
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
}

#collection .toolbar {
  border-bottom-width: var(--border-width);
}

@media (max-height: 500px) {
  #collection .toolbar {
    /*flex-flow: row nowrap;*/
  }
}

#collection #display {
  overflow: auto;
}



/*
 * ========================================================
 * ============= 4.  GENERAL STYLES =======================
 * ========================================================
 */
h1 {
  font-size: var(--font-size-medium);
 }

td, th {
  white-space: nowrap;
  text-align: left;
  line-height: var(--tr-height);
  padding: 0 calc(2 * var(--size-1));
}

label {
  white-space: nowrap;
}

input {
  height: calc(6 * var(--size-1));
  width: calc(16 * var(--size-1));
  max-width: calc(50 * var(--size-1));
}

label + input {
  margin: calc(2 * var(--size-1) - var(--border-width));
}

body > footer p {
  font-size: var(--font-size-medium);
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
  align-items: center;
}

.fill-flex {
  flex-grow: 1;
}

.text-box {
  max-width: calc(80 * var(--size-1));
  max-height: calc(80 * var(--size-1));
  margin: auto;
  text-align: justify;

  /*
   * Acts as a "padding" that stays visible when scrol-
   * ling.
   */
  border: calc(4 * var(--size-1)) solid transparent;

  /*
   * Vertical scrolling without a scrollbar.
   */
  overflow-y:scroll;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE 10+ */}
.text-box::-webkit-scrollbar { /* Chrome, Safari */
  display: none;
}

.text-paragraph:not(:last-child) {
  margin-bottom: calc(4 * var(--size-1));
}



/*
 * ========================================================
 * ============= 5.  SITE TITLE DIV =======================
 * ========================================================
 */
#site-title-frame,
#site-title-normal,
#site-title-shadow {
  line-height: var(--site-title-height);
  font-size: var(--font-size-big);
}

#site-title-normal,
#site-title-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--side-panel-width));
}

#site-title-frame {
  border-bottom-width: var(--border-width);
}

#site-title-normal {
  z-index: 1;
}

#site-subtitle, 
#site-subtitle span {
  font-size: var(--font-size-small);
}

#site-subtitle {
  position: absolute;
  top: calc((var(--site-title-height) + var(--font-size-big)) / 2);
  left: calc(0.5 * var(--side-panel-width));
  white-space: nowrap;
}

@media (min-width: 601px) {
  #top aside.clicked #site-title-normal,
  #top aside.clicked #site-title-shadow,
  #top aside.clicked #site-subtitle {
    width: var(--side-panel-max-width);
    left: calc(-1 * var(--side-panel-max-width));
  }
}

@media (max-width: 600px) {
  #top aside:not(.clicked) #site-title-normal,
  #top aside:not(.clicked) #site-title-shadow,
  #top aside:not(.clicked) #site-subtitle {
    width: var(--side-panel-max-width);
    left: calc(-1 * var(--side-panel-max-width));
  }

  #top aside.clicked #site-title-normal,
  #top aside.clicked #site-title-shadow {
    left: 0;
  }

  #top aside.clicked #site-subtitle {
    left: calc(0.5 * var(--side-panel-width))
  }
}



/*
 * ========================================================
 * ============= 6.  MENU =================================
 * ========================================================
 */
.menu {
  display: flex;
  flex-flow: column nowrap;
}

.contextual.menu {
  position: absolute;
  border-width: var(--border-width);
  z-index: 1;
 }

.menu li {
  display: flex;
  white-space: nowrap;
  line-height: calc(10 * var(--size-1));
  padding: 0 var(--menu-item-highlight) 0 0;
  border-bottom-width: var(--border-width);
}

.menu li::before {
  content: "";
  width: calc(0.5 * var(--menu-item-highlight));
  padding-right: calc((var(--level) + 1) * var(--menu-item-highlight));
}

nav .menu li::before {
  padding-right: calc((var(--level) + 1) * var(--menu-item-highlight) + var(--menu-item-offset));
}

.menu label {
  margin-left: var(--menu-label-margin-left);
}

.menu label,
.menu label * {
  display: flex;
  flex-grow: 1;
}

#contextual-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
 }



/*
 * ========================================================
 * ============= 7.  CONTROLS AND NOTIFICATIONS ===========
 * ========================================================
 */
.toolbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.toolbar label {
  margin-left: calc(2 * var(--size-1));
}

.button {
  font-size: var(--button-size);
  margin: var(--button-margin);
  line-height: 1;
}

.button:hover {
  font-size: calc(var(--button-size) + 2 * var(--button-margin));
  margin: 0;
}

.icon-notif-container {
  display: flex;
  position: relative;
}

.notification {
  position: absolute;
  bottom: 0;
  line-height: 1;
  font-size: calc(6 * var(--size-1));
}

.button .notification {
  right: 0;
}

.menu .notification {
  left: 0;
}

body > footer .toolbar {
  position: fixed;
  bottom: calc(2 * var(--button-margin));
  z-index: 1;
}

body > footer .toolbar:first-child {
  left: calc(2 * var(--button-margin));
}

body > footer .toolbar:last-child {
  right: calc(2 * var(--button-margin));
}

@media (max-height: 500px) {
  body > footer {
    overflow: hidden;
  }

  body > footer .button {
    padding: calc(0.5 * var(--button-margin));
    border-width: calc(0.5 * var(--button-margin));
    border-radius: calc(var(--button-size) + 2 * var(--button-margin));
  }
}



/*
 * ========================================================
 * ============= 8.  COLLECTIONS ==========================
 * ========================================================
 * ------------- 8.1 General ------------------------------
 */
.irrelevant {
  display: none !important;
}

/*
 * ------------- 8.2 Pictures -----------------------------
 */
 .polaroid h1,
 .stacked  h1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0;
  padding-left: calc(  6 * var(--size-1));
  line-height: calc(16 * var(--size-1));
  z-index: 1;
}

@media (max-height: 500px) {
  .polaroid h1,
  .stacked  h1 {
    line-height: calc(10 * var(--size-1));
  }
}

/*
 * ------------- 8.3 Polaroid gallery view ----------------
 */
.polaroid .group .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: var(--polaroid-frame-margin);
}

/* .polaroid .wrapper { */
.polaroid .item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--gallery-image-size) + 2 * var(--polaroid-item-padding) + 2 * var(--border-width));
  width:  calc(var(--gallery-image-size) + 2 * var(--polaroid-item-padding) + 2 * var(--border-width));
  margin: calc(0.5 * var(--polaroid-frame-margin));
}

/* .polaroid .item { */
.polaroid .wrapped {
  display: flex;
  padding: var(--polaroid-item-padding);
  border-width: var(--border-width);
}

.polaroid img {
  max-width: var(--gallery-image-size);
  max-height: var(--gallery-image-size);
}

.image-shadow {
  display: flex;
  margin: auto;
}

.image-shadow::before {
    content: "";
    position: absolute;
    top:    0;
    bottom: 0;
    left:   0;
    right:  0;
}

/*
 * ------------- 8.4 Stacked gallery view -----------------
 */
.stacked .wrapper {
  display: grid;
  grid-template-columns: repeat(var(--nb-columns), var(--gallery-image-size));
  padding: var(--polaroid-frame-margin);
  justify-content: center;
}

.stacked .group .content {
  column-width: var(--gallery-image-size);
  column-gap: 0;
  grid-column: 1/-1;
}

.stacked .item {
  display: block;
  margin: 0 0.15em 0 0.15em;
}

.stacked img {
  width: 100%;
}

/*
 * ------------- 8.5 Details view -------------------------
 */
.details th {
  position: sticky;
}

.details thead th {
  top: 0;
}

.details .group th {
  top: var(--tr-height);
}

.details table {
  min-width: 100%;
}

/*
 * ------------- 8.6 Fullscreen view ----------------------
 */
 #fullscreen {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#fullscreen:not(.faded-in) * {
  display: none;
}

#fullscreen img {
  max-width: calc(100% - 2 * var(--button-size) - 4 * var(--button-margin));
  max-height: 100%;
  margin: auto;
}

#fullscreen #info,
#fullscreen #btn-close {
  position: absolute;
}

#fullscreen #btn-prev,
#fullscreen #btn-next {
  margin-top: auto;
  margin-bottom: auto;
}

#fullscreen #info {
  margin: calc(2 * var(--size-1));
  left: 0;
  bottom: 0;
}

#fullscreen #btn-close {
  right: 0;
  top: 0;
}



/*
 * ========================================================
 * ============= 9.  PAGE-SPECIFIC ========================
 * ========================================================
 */
