/*
 * ========================================================
 * ================= TABLE OF CONTENTS ====================
 * ========================================================
 * 1.  VARIABLES
 * 2.  DEFAULT VALUES/RESET
 * 3.  GENERAL STYLES
 * 4.  MAIN STRUCTURE
 * 5.  SITE TITLE DIV
 * 6.  MENU
 * 7.  BUTTONS
 * 8.  COLLECTIONS
 * 8.1 Picture gallery
 * 8.2 Fullscreen view
 * 9.  PAGE-SPECIFIC
 * 9.1 Homepage
 */



/*
 * ========================================================
 * ============= 1.  VARIABLES ============================
 * ========================================================
 */
:root {
--font-size:                   24px;
 --aside-width:               300px;
--title-height:                96px;
--title-padding:               24px;
--title-border-width:           1px;
--nav-li-line-height:          60px;
--nav-li-padding-left:         24px;
--nav-li-border-left:          12px;
--nav-li-border-bottom:         1px;
--nav-a-margin-left:           12px;
--main-border-width:            1px;
--footer-height:               96px;
--button-size:                 36px;
--button-margin:               12px;
--picture-size:               200px;
--picture-frame-margin:        36px;
--picture-frame-padding:       12px;
--picture-frame-border-width:   1px;
--fs-margin:                   12px;

--title-font-size:    calc(2.0 * var(--font-size));
--subtitle-font-size: calc(0.5 * var(--font-size));
--footer-font-size:   calc(1.5 * var(--font-size));
}



/*
 * ========================================================
 * ============= 2.  DEFAULT VALUES/RESET =================
 * ========================================================
 */
* {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
}

html, body {
  height: 100%;
}



/*
 * ========================================================
 * ============= 3.  GENERAL STYLES =======================
 * ========================================================
 */



/*
 * ========================================================
 * ============= 4.  MAIN STRUCTURE =======================
 * ========================================================
 */
#side-panel, #main-panel {
  height: calc(100% - var(--footer-height));
}

#main-panel {
  margin-left: var(--aside-width);
  border-left-width: var(--main-border-width);
  overflow-y: auto;
}

#side-panel {
  float: left;
  width: var(--aside-width);
  overflow-y: hidden;
}

#site-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: var(--footer-height);
}

#site-footer p {
  font-size: var(--footer-font-size);
}

#site-footer .button-container {
  /*
   * Has to take the max possible size so 1 * size of hove-
   * red button + (total nb of buttons - 1) * size of un-
   * hovered button + 2 * (total nb of buttons - 1) * mar-
   * gin.
   */
  width: calc(1.3 * var(--button-size) + 2 * var(--button-size) + 2 * 3 * var(--button-margin));
}



/*
 * ========================================================
 * ============= 5.  SITE TITLE DIV =======================
 * ========================================================
 */
#site-title-normal,
#site-title-shadow {
  line-height: var(--title-height);
  border-bottom-width: var(--title-border-width);
  padding: var(--title-padding);
  font-size: var(--title-font-size);
}

#site-title-normal {
  position: relative;
  z-index: 2;
}

#site-title-shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: calc(var(--aside-width) - 2 * var(--title-padding));
  padding: var(--title-padding);
}

#site-subtitle {
  position: absolute;
  top: calc(var(--title-padding) + (var(--title-height) - var(--title-font-size)) / 2 + var(--title-font-size));
  left: calc(0.5 * var(--aside-width));
}

#site-subtitle, 
#site-subtitle > span {
  font-size: var(--subtitle-font-size);
}



/*
 * ========================================================
 * ============= 6.  MENU =================================
 * ========================================================
 */
#menu {
  overflow-y: auto;
  height: calc(100% - (var(--title-height) + 2 * var(--title-padding) + var(--title-border-width)));
}

.menu-item {
  display: inline-block;
  line-height: var(--nav-li-line-height);
  border-left-width: var(--nav-li-border-left);
  border-bottom-width: var(--nav-li-border-bottom);
}

#menu > .menu-level > .menu-item {
  width: calc(100% - var(--nav-li-border-left) - var(--nav-li-padding-left));
  padding-left: var(--nav-li-padding-left);
}

#menu > .menu-level > .menu-level > .menu-item {
  width: calc(100% - var(--nav-li-border-left) - 2 * var(--nav-li-padding-left));
  padding-left: calc(2 * var(--nav-li-padding-left));
}

.menu-link {
  display: inline-block;
  margin-left: var(--nav-a-margin-left);
  /*
   * Font-size is here to compensate for the material-icon
   * size.
   */
  width: calc(100% - var(--font-size) - var(--nav-a-margin-left));
}



/*
 * ========================================================
 * ============= 7.  BUTTONS ==============================
 * ========================================================
 */
 .button-container {
  display: flex;
  flex-flow: row nowrap;

  /*
   * TODO: change justify content because other buttons are
   * gonna move when one is hovered.
   */
  justify-content: space-evenly;
  align-items: center;

  padding: 0 var(--button-margin) 0 var(--button-margin);
}

.button-container.left-side {
  justify-content: flex-start;
}

.button-container.right-side {
  justify-content: flex-end;
}

.button {
  font-size: var(--button-size);
  margin: var(--button-margin);
}

.button:hover {
  font-size: calc(var(--button-size) + 2 * var(--button-margin));
  margin: 0;
}



/*
 * ========================================================
 * ============= 8.  COLLECTIONS ==========================
 * ========================================================
 *
 * ------------- 8.1 Picture gallery ----------------------
 */
 .picture-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

  /* 
   * Picture frames have margins on the right and the
   * bottom, so gallery container has padding on the top
   * and the left
   */
  padding: var(--picture-frame-margin) 0 0 var(--picture-frame-margin);
}

.picture-frame {
  display: flex;
  width: var(--picture-size);
  height: var(--picture-size);
  margin: 0 var(--picture-frame-margin) var(--picture-frame-margin) 0;
  padding: var(--picture-frame-padding);
  border-width: var(--picture-frame-border-width);
}

.picture-shadow {
  display: flex;
  position: relative;
  margin: auto;
}

.picture-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.picture-image {
  max-width: var(--picture-size);
  max-height: var(--picture-size);
}

/*
 * ------------- 8.2 Fullscreen view ----------------------
 */
 #div-fs {
  display: flex;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#div-fs > img {
  max-width: calc(100% - 2 * var(--button-size) - 4 * var(--fs-margin));
  max-height: 100%;
  margin: auto;
}

#div-fs > div#div-fs-info,
#div-fs > i#btn-fs-close {
  position: absolute;
  margin: var(--fs-margin);
}

#div-fs > div#div-fs-info {
  left: 0;
  bottom: 0;
}

#div-fs > i {
  font-size: var(--button-size);
}

#div-fs > i#btn-fs-prev,
#div-fs > i#btn-fs-next {
  margin: auto var(--fs-margin);
}

#div-fs > i#btn-fs-close {
  right: 0;
  top: 0;
}



/*
 * ========================================================
 * ============= 9.  PAGE-SPECIFIC ========================
 * ========================================================
 *
 * ------------- 9.1 Homepage -----------------------------
 */
#home > main {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: calc(50% + var(--aside-width) / 2) calc(50% - var(--footer-height) / 2);
}