/*
 * ========================================================
 * ================= TABLE OF CONTENTS ====================
 * ========================================================
 * 1.  VARIABLES
 * 2.  DEFAULT VALUES/RESET
 * 3.  GENERAL STYLES
 * 3.1 Fade-in/fade-out
 * 4.  MAIN STRUCTURE
 * 5.  SITE TITLE DIV
 * 6.  MENU
 * 7.  CONTROLS AND NOTIFICATIONS
 * 8.  COLLECTIONS
 * 8.1 Polaroid gallery view
 * 8.2 Stacked gallery view
 * 8.3 Details view
 * 8.4 Fullscreen view
 * 9.  PAGE-SPECIFIC
 * 9.1 Homepage
 * 9.2 Media
 * 9.3 Interests
 */



/*
 * ========================================================
 * ============= 1.  VARIABLES ============================
 * ========================================================
 */
:root {  
  --color-primary-lighter:   194, 232, 237;
  --color-primary-light:     133, 210, 218;
  --color-primary:            12, 165, 182;
  --color-primary-dark:       40, 126, 138;
  --color-primary-darker:     31,  98, 107;

  --color-secondary-lighter: 252, 194, 206;
  --color-secondary-light:   247, 100, 130;
  --color-secondary:         244,  22,  67;
  --color-secondary-dark:    165,  18,  54;
  --color-secondary-darker:  122,  11,  34;

  --color-tertiary-lighter:  179, 240, 210;
  --color-tertiary-light:     86, 222, 157;
  --color-tertiary:           38, 196, 121;
  --color-tertiary-dark:      30, 153,  95;
  --color-tertiary-darker:    20 ,101,  63;

  --color-neutral-lighter:   238, 238, 238;
  --color-neutral-light:     221, 221, 221;
  --color-neutral:           177, 177, 177;
  --color-neutral-dark:      111, 111, 111;
  --color-neutral-darker:     60,  60,  60;

  --color-clear:             255, 255, 255;

  --font-body:               'Yantra', Helvetica, sans-serif;
  --font-titles:             'Alata',  Arial,     sans-serif;

  --transition-opacity:      opacity 0.25s ease-in-out;
}



/*
 * ========================================================
 * ============= 2.  DEFAULT VALUES/RESET =================
 * ========================================================
 */
* {
  font-family: var(--font-body);
  font-weight: normal;
  color: rgba(var(--color-neutral-dark), 1.0);

  -webkit-touch-callout: inherit;
  -webkit-user-select: inherit;
  -khtml-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  user-select: inherit;
  -webkit-tap-highlight-color: inherit;
}

body {
  /*
   * Prevent selecting/blue highlight everywhere.
   * @link https://stackoverflow.com/questions/21003535/anyway-to-prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic
   */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}



/*
 * ========================================================
 * ============= 3.  GENERAL STYLES =======================
 * ========================================================
 *
 * ------------- 3.1 Fade-in/fade-out ---------------------
 * Fade in and fade out for whole body and main section:
 * both are invisible on page load, <body> fades in first
 * when PageBuilder finishes its work, then <main> fades in
 * later if specific work needs to be done that requires
 * more time. Body fades out on page unload.
 */
 /*
  * Add this class to elements that need to be faded out
  * when the page loads to avoid "blinking" effect.
  */
.faded-out-onload {
  opacity: 0;
  transition: opacity 0s;
}

/*
 * Declare all the "fadable elements" here. Will be faded-
 * out by default.
 */
body, main, .fadable {
  opacity: 0;
  transition: var(--transition-opacity);
}

.faded-in {
  opacity: 1;
}

h1 {
  font-family: var(--font-titles);
}

input {
  border: 1px solid rgba(var(--color-neutral-light), 1.0);
}

table {
  border-collapse: collapse;
}

thead th {
  background-color: rgba(var(--color-primary), 1.0);
  color: white;
}

tbody tr.even td {
  background-color: rgba(var(--color-primary-lighter), 1.0);
}

.translation-error {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
}

.text-box {
  background-color: rgba(0, 0, 0, 0.35);
}

.text-box * {
  color: white;
}

.text-box a {
  text-decoration: none;
  font-style: italic;
}

.text-box a:hover {
  font-style: normal;
}

.selectable {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-tap-highlight-color: rgba(var(--color-primary), 1.0);
}



/*
 * ========================================================
 * ============= 4.  MAIN STRUCTURE =======================
 * ========================================================
 */
#side-panel {
  border-right-style: solid;
  border-right-color: rgba(var(--color-neutral-light), 1.0);
  transition: flex-basis 0.25s ease-in-out;
}

#site-footer {
  background-color: rgba(var(--color-primary), 1.0);
}

#site-footer p {
  text-align: center;
  font-family: var(--font-titles);
  color: rgba(var(--color-clear), 1.0);
}

#site-footer .button {
  color: rgba(var(--color-clear), 1.0);
}



/*
 * ========================================================
 * ============= 5.  SITE TITLE DIV =======================
 * ========================================================
 */
#site-title-height-setter,
#site-title-normal,
#site-title-shadow {
  text-align: center;
  font-family: 'Alata', Arial, sans-serif;
}

#site-title-height-setter {
  color: transparent;
  border-bottom-style: solid;
  border-bottom-color: rgba(var(--color-neutral-light), 1.0);
}

#site-title-normal,
#site-title-shadow {
  transition: color 0.25s ease-in-out, left 0.25s ease-in-out;
}

#site-title-shadow {
  color: rgba(var(--color-primary), 1.0);
}

#site-title:hover > #site-title-normal,
#site-title:hover > #site-subtitle > span {
  color: rgba(var(--color-primary), 1.0);
}

#site-title:hover > #site-title-shadow {
  color: rgba(var(--color-neutral-dark), 1.0);
}

#site-title:hover > #site-subtitle {
  letter-spacing: 5px;
}

#site-subtitle {
  letter-spacing: 3px;
  transition: letter-spacing 0.25s ease-in-out, left 0.25s ease-in-out;
}



/*
 * ========================================================
 * ============= 6.  MENU =================================
 * ========================================================
 */
.menu-level {
  list-style: none;
}

.menu-item {
  background-color: white;
  border-left-style: solid;
  border-left-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: rgba(var(--color-neutral-light), 1.0);
  cursor: pointer;
}

.submenu .menu-item:last-child {
  border-bottom: none;
}

.menu-item * {
  vertical-align: middle;
}

.menu-link {
  text-decoration: none;
}

.menu-item.active {
  background-color: rgba(var(--color-primary), 1.0);
}

.menu-item:not(.active) .material-icons {
  color: rgba(var(--color-primary), 1.0);
}

.menu-item.active .menu-link,
.menu-item.active .menu-icon,
.menu-item:not(.active):hover .menu-link,
.menu-item:not(.active):hover .menu-icon {
  color: rgba(var(--color-clear), 1.0);
}

.menu-item:not(.active):hover {
  background-color: rgba(var(--color-neutral), 1.0);
  border-left-color: rgba(var(--color-primary), 1.0);
  transition: all 0.25s ease-in-out;
}

.menu-item:not(.active):hover .menu-link,
.menu-item:not(.active):hover .menu-icon {
  transition: color 0.25s ease-in-out;
}

#submenu-wrapper {
  background-color: transparent;
}

.submenu {
  border-style: solid;
  border-color: rgba(var(--color-neutral-light), 1.0);
}



/*
 * ========================================================
 * ============= 7.  CONTROLS AND NOTIFICATIONS ===========
 * ========================================================
 */
.inline-button:hover {
  color: rgba(var(--color-primary), 1.0);
}

.button, .inline-button {
  /*
   * Changes to size and margins are in structure.css.
   */
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.notification {
  /*
   * To be able to click through it.
   */
  pointer-events: none;
  color: rgba(var(--color-secondary), 1.0);
}

/*@supports (-webkit-text-stroke: 2px white) {
  .notification {
    -webkit-text-stroke: 2px white;
  }
}*/

#notification-sort-secondary {
  color: rgba(var(--color-tertiary), 1.0);
}

.label::after {
  content: ":";
}

:lang(fr) .label::after {
  content: " :";
}



/*
 * ========================================================
 * ============= 8.  COLLECTIONS ==========================
 * ========================================================
 *
 */
.collection-toolbar {
  background-color: rgba(var(--color-clear), 1.0);
  border-bottom-color: rgba(var(--color-neutral-light), 1.0);
  border-bottom-style: solid;
}

.collection-toolbar .button {
  color: rgba(var(--color-primary), 1.0);;
}

.picture-group h1 {
  background-color: rgba(var(--color-primary), 0.5);
  color: rgba(var(--color-clear), 1.0);
}

.picture-item {
  cursor: pointer;
}

.image-shadow {
  position: relative;
  max-width: 100%;
  float: left;
  height: max-content;
  }

.image-shadow::before {
  box-shadow:         inset 0 0 8px black;
  -moz-box-shadow:    inset 0 0 8px black;
  -webkit-box-shadow: inset 0 0 8px black;
}



/*
 * ------------- 8.1 Polaroid gallery view ----------------
 */
.polaroid-frame {
  background-color: rgba(var(--color-clear), 1.0);
  border-style: solid;
  border-color: rgba(var(--color-neutral-light), 1.0);
  box-shadow: 6px 6px 6px;
  transition: all 0.25s ease-in-out;
}

.polaroid-frame:hover {
  box-shadow: 2px 2px 2px;
}

/*
 * ------------- 8.2 Stacked gallery view -----------------
 */
.stacked-content {
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  mask-image:         linear-gradient(to bottom, black 80%, transparent 100%);
}

.stacked-image {
  border-radius: 24px;
}

/*
 * ------------- 8.3 Details view -------------------------
 */
.details-view-table .group-header-row th {
  background-color: rgba(var(--color-primary-light), 1.0);
  color: rgba(var(--color-clear), 1.0);
  font-family: var(--font-titles);
}

/*
 * ------------- 8.4 Fullscreen view ----------------------
 */
 /*
  * Height trick (height must be applied after fade-out
  * finishes)
  */
.fullscreen-container {
  background-color: black;
  height: 0;
  transition: var(--transition-opacity), height 0s 0.25s;
}

.fullscreen-container.faded-in {
  height: 100%;
  transition: var(--transition-opacity), height 0s 0s;
}

.fullscreen-info {
  color: rgba(var(--color-clear), 1.0);
}



/*
 * ========================================================
 * ============= 9.  PAGE-SPECIFIC ========================
 * ========================================================
 *
 * ------------- 9.1 Homepage -----------------------------
 */
#pge-home #main-panel {
  background-image: url('../images/background/home.jpg');
}

/*
 * ------------- 9.2 Media --------------------------------
 */
#pge-favs #main-panel {
  background-image: url('../images/background/media.jpg');
}

/*
 * ------------- 9.3 Interests ----------------------------
 */
#pge-interests #main-panel {
  background-image: url('../images/background/interests.jpg');
}