:root {
  --cy-blue: #0ca5b6;
  --cy-grey: #777;
  --cy-mediumgrey: #bbb;
  --cy-lightgrey: #ddd;
}

* {
  font-family: 'Yantra', Helvetica, sans-serif;
  color: var(--cy-grey);
}

/*
 * Fade in and fade out for whole body and main section:
 *   both are invisible on page load, <body> fades in first
 *   when PageBuilder finishes its work, then <main> fades
 *   in later if specific work needs to be done that requi-
 *   more time.
 *   Body fades out on page unload.
 */
body, main {
  opacity: 0;
}

.fade-in, .fade-out {
  transition: opacity 0.25s ease-in-out;
}

main.fade-in, main.fade-out, {
  transition: opacity 2.0s ease-in-out;
}

.fade-in {
  opacity: 1;
}
/* ----------------------------------------------------- */

aside, footer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#site-title-normal {
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: var(--cy-lightgrey);
  font-family: 'Alata', Arial, sans-serif;
  transition: color 0.25s ease-in-out;
}

#site-title-shadow {
  text-align: center;
  font-family: 'Alata', Arial, sans-serif;
  color: var(--cy-blue);
  transition: color 0.25s ease-in-out;
}

#site-title:hover > #site-title-normal,
#site-title:hover > #site-subtitle > span {
  color: var(--cy-blue);
  transition: color 0.25s ease-in-out;
}

#site-title:hover > #site-title-shadow {
  color: var(--cy-grey);
  transition: color 0.25s ease-in-out;
}

#site-title:hover > #site-subtitle {
  letter-spacing: 5px;
  transition: letter-spacing 0.25s ease-in-out;
}

#site-subtitle {
  letter-spacing: 3px;
  transition: all 0.25s ease-in-out;
}

aside > nav ul {
  list-style: none;
}

aside > nav li {
  border-left-style: solid;
  border-left-color: transparent;
}

aside > nav li {
  border-bottom-style: solid;
  border-bottom-color: var(--cy-lightgrey);
}

aside > nav ul a {
  text-decoration: none;
  vertical-align: middle;
}

aside > nav ul i {
  vertical-align: middle;
}

aside > nav li.active {
  background-color: var(--cy-blue);
}

aside > nav li:not(.active) > i.material-icons {
  color: var(--cy-blue);
}

aside > nav li.active > a,
aside > nav li.active > i.material-icons,
aside > nav li:not(.active):hover > a,
aside > nav li:not(.active):hover > i.material-icons,
#div-fs > div#div-fs-info > p {
  color: white;
}

aside > nav li:not(.active):hover > a,
aside > nav li:not(.active):hover > i.material-icons {
  transition: color 0.25s ease-in-out;
}

aside > nav li:not(.active):hover {
  background-color: var(--cy-mediumgrey);
  border-left-color: var(--cy-blue);
  transition: all 0.25s ease-in-out;
}

body > main {
  border-left-style: solid;
  border-left-color: var(--cy-lightgrey);
}

body#home > main {
  background-image: url('../images/background.jpg');
}

footer > p {
  text-align: center;
  font-family: 'Alata', Arial, sans-serif;
  background-color: var(--cy-blue);
  color: white;
}

.button {
  color: white;
  cursor: pointer;
}

.button,
.button:hover {
  transition: all 0.1s ease-in-out;
}

/* Page specific */
.picture-frame {
  background-color: white;
  border-style: solid;
  border-color: var(--cy-lightgrey);
  box-shadow: 6px 6px 6px;
  transition: box-shadow 0.25s ease-in-out;
  cursor: pointer;
}

.picture-frame:hover {
  box-shadow: 2px 2px 2px;
  transition: box-shadow 0.25s ease-in-out;
}

.picture-shadow {
  position: relative;
  max-width: 100%;
  float: left;
  height: max-content;
  }

.picture-shadow::before {
  box-shadow:         inset 0 0 8px black;
  -moz-box-shadow:    inset 0 0 8px black;
  -webkit-box-shadow: inset 0 0 8px black;
}

#div-fs {
  background-color: black;
  cursor: pointer;
  opacity: 0;
  height: 0;
}

#div-fs.fade-out {
  transition: opacity 0.25s ease-in-out, height 0s 0.25s;
}

#div-fs.fade-in {
  opacity: 1;
  height: 100%;
  transition: opacity 0.25s ease-in-out;
}

#div-fs > i {
  color: white;
  cursor: pointer;
}
/* ------------- */