<div id="picture-fullscreen" class="fullscreen-container fadable">
  <i id="btn-fs-prev" class="material-icons button">navigate_before</i>
  <img id="fullscreen-image">
  <i id="btn-fs-next" class="material-icons button">navigate_next</i>
  <div id="fullscreen-infobox">
    <p class="fullscreen-info" id="fullscreen-date"></p>
    <p class="fullscreen-info" id="fullscreen-location"></p>
    <p class="fullscreen-info" id="fullscreen-description"></p>
  </div>
  <i id="btn-fs-close" class="material-icons button">close</i>
</div>